{
  "presets": ["next/babel"],
  "plugins": [
    "babel-plugin-macros",
    ["babel-plugin-styled-components", { "ssr": true }],
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@/atoms": "./src/component/atoms",
          "@/pages": "./src/component/pages",
          "@/molecules": "./src/component/molecules",
          "@/organisms": "./src/component/organisms",
          "@/templates": "./src/component/templates"
        }
      }
    ]
  ]
}
